/run
/.gradle
/build/classes
/build/loom-cache
/build/tmp
/build/devlibs
/build/generated
/build/processIncludeJars
/build/reports
/build/resources
/build/export_classpath.json
/secretfolder
/pvpbotstats_backend
/pvpbotstats
build/libs/PVP_bot-0.0.15-pre-release-1-sources.jar
/mappings
/META-INF/services
all_pvp_mechanics.txt
